{% extends 'layout.html' %}
{% block title %} Register Page{% endblock %}

{% block content %}
    <div class="wrap-contact100 center">
        <form class="contact100-form validate-form" action="{% url 'user:register' %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            <span class="contact100-form-title">
					Register
				</span>
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ form.errors }}
                </div>
            {% endif %}
            <div class="wrap-input100 input100-select">
                <span class="label-input100">First Name</span>
                <div>
                    {{ form.first_name }}
                </div>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 input100-select">
                <span class="label-input100">Last Name</span>
                <div>
                    {{ form.last_name }}
                </div>
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 input100-select">
                <span class="label-input100">Email</span>
                <div>
                    {{ form.email }}
                </div>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 input100-select">
                <span class="label-input100">Phone Number</span>
                <div>
                    {{ form.phone_number }}
                </div>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
                <span class="label-input100">Birthdate</span>
                {{ form.birthdate }}
                <span class="focus-input100"></span>
            </div>


            <div class="wrap-input100 validate-input">
                <span class="label-input100">Upload Photo</span>
                <div>
                    {{ form.image }}
                </div>
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 input100-select">
                <span class="label-input100">Password</span>
                <div>
                    {{ form.password1 }}
                </div>
                <span class="focus-input100"></span>
            </div>
            <div class="wrap-input100 input100-select">
                <span class="label-input100">Confirm Password</span>
                <div>
                    {{ form.password2 }}
                </div>
                <span class="focus-input100"></span>
            </div>
            <div class="container-contact100-form-btn">
                <div class="wrap-contact100-form-btn">
                    <div class="contact100-form-bgbtn"></div>
                    <button class="contact100-form-btn background-red">
							<span>
								Register
							</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    </div>

{% endblock %}
