{% extends 'layout.html' %}
{% block title %} Create Order {% endblock title %}


{% block content %}
    <div class="container-contact100">
        <div class="wrap-contact100">
            <form class="contact100-form validate-form" action="/order/create" method="post">
                {% csrf_token %}

                <span class="contact100-form-title">
					Create Wash Order
				</span>
                <div class="wrap-input100 input100-select">
                    <span class="label-input100">Car</span>
                    <div>
                        <select class="selection-2" name="car">
                            <option>Select Car</option>

                            {% for car in car_list %}
                                <option value="{{ car.pk }}">{{ car.licence_plate }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 input100-select">
                    <span class="label-input100">Wash Type</span>
                    <div>
                        <select class="selection-2" name="wash_type">
                            <option>Select Wash Type</option>
                            {% for wash_type in wash_types %}
                                <option value="{{ wash_type.pk }}">{{ wash_type.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="focus-input100"></span>
                </div>
                <div class="wrap-input100 input100-select">
                    <span class="label-input100">Washer</span>
                    <div>
                        <select class="selection-2" name="washer">
                            <option>Select Washer</option>
                            {% for washer in washers %}
                                <option value="{{ washer.pk }}">{{ washer }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Wash Date</span>
                    <input class="input100" type="datetime-local" name="wash_date">
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Note</span>
                    <textarea class="input100" name="note" placeholder="Write Note here..."></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <span class="label-input100">Coupon</span>
                    <input class="input100" type="text" name="coupon" placeholder="Enter Coupon Code">
                    <span class="focus-input100"></span>
                </div>
                <div class="container-contact100-form-btn">
                    <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <button class="contact100-form-btn">
							<span>
								Submit
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
							</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}