{% extends 'layout.html' %}
{% block title %} Orders List {% endblock %}


{% load static %}
{% block content %}
    <section id="orders">
        <div class="container">
            <div class="dropdown">
                <br>
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter Orders
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'wash:orders' %}?finished=True">Finished Orders</a></li>
                    <li><a href="{% url 'wash:orders' %}">Clear Filter</a></li>

                </ul>
            </div>
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Orders</h2>
            </div>
            <a href="{% url 'wash:create_order' %}" class="btn btn-primary btn-lg btn-block background-red">Create
                Order</a>
            <br>
            <br>
            <div class="row">
                {% for order in orders %}
                    <div class="col-md-3 col-sm-6 card-margin">
                        <a href='{% url 'wash:order_detail' order.id %}'>
                            <div class="wow fadeInUp" data-wow-duration="400ms" data-wow-delay="0ms">
                                <div class="team-img">
                                    <img class="img-responsive"
                                         src="{% static 'serviceapp/images/prettyPhoto/order.jpeg' %}"
                                         alt="">
                                </div>
                                <div class="text-center">
                                    <h3>Order N{{ forloop.counter }}</h3>
                                    <h4>{{ order.price }}GEL</h4>
                                    <h6>{{ order.start_date }}</h6>
                                    <span>Order Detail</span>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
            {% if orders.has_other_pages %}
                <ul class="pagination">
                    {% if orders.has_previous %}
                        <li><a href="?page={{ orders.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in orders.paginator.page_range %}
                        {% if orders.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                    {% if orders.has_next %}
                        <li><a href="?page={{ orders.next_page_number }}">&raquo;</a></li>
                    {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </section>

{% endblock %}