<section id="portfolio">
    <!-- Start Gallery 1-2 -->
    <section id="gallery-1" data-section="gallery-1" class="data-section"
             class="content-block section-wrapper gallery-1">

        <div class="container">

            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown animated"
                    style="visibility: visible; animation-name: fadeInDown;">Portfolio</h2>
                <p class="text-center wow fadeInDown animated"
                   style="visibility: visible; animation-name: fadeInDown;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent eget risus vitae massa <br>
                    semper
                    aliquam quis mattis quam.</p>
            </div>
            <div class="editContent">
                <ul class="filter">
                    <li class="active"><a href="#" data-filter="*">All</a></li>
                    <li><a href="#" data-filter=".artwork">Cars</a></li>
                    <li><a href="#" data-filter=".creative">Checkup</a></li>
                    <li><a href="#" data-filter=".nature">Servicing</a></li>
                    <li><a href="#" data-filter=".outside">Painting</a></li>
                    <li><a href="#" data-filter=".photography">Modifiying</a></li>
                </ul>
            </div>
            <!-- /.gallery-filter -->

            <div class="row">
                <div id="isotope-gallery-container">
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'serviceapp/images/portfolio/1.jpg' %}" class="img-responsive"
                                     alt="1st gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'serviceapp/images/portfolio/1.jpg' %}" class="gallery-zoom"><i
                                        class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                                <div class="editContent">
                                    <h5>1st gallery Item</h5>
                                </div>
                                <div class="editContent">
                                    <p>Nullam id dolor id nibh ultricies vehicula.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper nature outside">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'serviceapp/images/portfolio/2.jpg' %}" class="img-responsive"
                                     alt="2nd gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'serviceapp/images/portfolio/2.jpg' %}" class="gallery-zoom"><i
                                        class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                                <div class="editContent">
                                    <h5>2nd gallery Item</h5>
                                </div>
                                <div class="editContent">
                                    <p>Nullam id dolor id nibh ultricies vehicula.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper photography artwork">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'serviceapp/images/portfolio/3.jpg' %}" class="img-responsive"
                                     alt="3rd gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'serviceapp/images/portfolio/3.jpg' %}" class="gallery-zoom"><i
                                        class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                                <div class="editContent">
                                    <h5>3rd gallery Item</h5>
                                </div>
                                <div class="editContent">
                                    <p>Nullam id dolor id nibh ultricies vehicula.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper creative nature">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'serviceapp/images/portfolio/4.jpg' %}" class="img-responsive"
                                     alt="4th gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'serviceapp/images/portfolio/4.jpg' %}" class="gallery-zoom"><i
                                        class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                                <div class="editContent">
                                    <h5>4th gallery Item</h5>
                                </div>
                                <div class="editContent">
                                    <p>Nullam id dolor id nibh ultricies vehicula.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper nature">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'serviceapp/images/portfolio/5.jpg' %}" class="img-responsive"
                                     alt="5th gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'serviceapp/images/portfolio/5.jpg' %}" class="gallery-zoom"><i
                                        class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                                <div class="editContent">
                                    <h5>5th gallery Item</h5>
                                </div>
                                <div class="editContent">
                                    <p>Nullam id dolor id nibh ultricies vehicula.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.gallery-item-wrapper -->
                    <div class="col-md-4 col-sm-6 col-xs-12 gallery-item-wrapper artwork creative">
                        <div class="gallery-item">
                            <div class="gallery-thumb">
                                <img src="{% static 'serviceapp/images/portfolio/6.jpg' %}" class="img-responsive"
                                     alt="6th gallery Thumb">
                                <div class="image-overlay"></div>
                                <a href="{% static 'serviceapp/images/portfolio/6.jpg' %}" class="gallery-zoom"><i
                                        class="fa fa-eye"></i></a>
                                <a href="#" class="gallery-link"><i class="fa fa-link"></i></a>
                            </div>
                            <div class="gallery-details">
                                <div class="editContent">
                                    <h5>6th gallery Item</h5>
                                </div>
                                <div class="editContent">
                                    <p>Nullam id dolor id nibh ultricies vehicula.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.isotope-gallery-container -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>
    <!--// End Gallery 1-2 -->
</section><!--/#portfolio-->