<section id="pricing">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Best Plans</h2>
            <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
                eget
                risus vitae massa <br> semper aliquam quis mattis quam.</p>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="0ms">
                    <ul class="pricing">
                        <li class="plan-header">
                            <div class="price-duration">
                                        <span class="price">
                                            $45
                                        </span>
                                <span class="duration">
                                            per month
                                        </span>
                            </div>

                            <div class="plan-name">
                                Basic
                            </div>
                        </li>
                        <li><p>Nique porriqua tquises dolorem
                            desumquia doloresamet consectet adipisci.
                            Masagni dolores eoquie voluptate sequi
                            saliquam quaerat voluptate.</p></li>
                        <li class="plan-purchase"><a class="btn btn-primary" href="#">Order Now!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="200ms">
                    <ul class="pricing featured">
                        <li class="plan-header">
                            <div class="price-duration">
                                        <span class="price">
                                            $85
                                        </span>
                                <span class="duration">
                                            per month
                                        </span>
                            </div>

                            <div class="plan-name">
                                Standard
                            </div>
                        </li>
                        <li><p>Nique porriqua tquises dolorem
                            desumquia doloresamet consectet adipisci.
                            Masagni dolores eoquie voluptate sequi
                            saliquam quaerat voluptate.</p></li>
                        <li class="plan-purchase"><a class="btn btn-primary" href="#">Order Now!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="400ms">
                    <ul class="pricing">
                        <li class="plan-header">
                            <div class="price-duration">
                                        <span class="price">
                                            $125
                                        </span>
                                <span class="duration">
                                            per month
                                        </span>
                            </div>

                            <div class="plan-name">
                                Gold
                            </div>
                        </li>
                        <li><p>Nique porriqua tquises dolorem
                            desumquia doloresamet consectet adipisci.
                            Masagni dolores eoquie voluptate sequi
                            saliquam quaerat voluptate.</p></li>
                        <li class="plan-purchase"><a class="btn btn-primary" href="#">Order Now!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="wow zoomIn" data-wow-duration="400ms" data-wow-delay="600ms">
                    <ul class="pricing">
                        <li class="plan-header">
                            <div class="price-duration">
                                        <span class="price">
                                            $185
                                        </span>
                                <span class="duration">
                                            per month
                                        </span>
                            </div>

                            <div class="plan-name">
                                Platinum
                            </div>
                        </li>
                        <li><p>Nique porriqua tquises dolorem
                            desumquia doloresamet consectet adipisci.
                            Masagni dolores eoquie voluptate sequi
                            saliquam quaerat voluptate.</p></li>
                        <li class="plan-purchase"><a class="btn btn-primary" href="#">Order Now!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!--/#pricing-->