{% extends 'layout.html' %}
{% block title %} {{ employee.first_name }} {% endblock %}


{% load static %}
{% block content %}
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter orders
                <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="{% url 'wash:washer_detail' washer.id %}?filter=7">1 Week Orders</a></li>
                <li><a href="{% url 'wash:washer_detail' washer.id %}?filter=31">1 Month Orders</a></li>
                <li><a href="{% url 'wash:washer_detail' washer.id %}?filter=365">1 Year Orders</a></li>
                <li><a href="{% url 'wash:washer_detail' washer.id %}">Clear filters</a></li>

            </ul>
        </div>

        {% if '365' == filter_day %}
            <h4 class="section-title text-center wow fadeInDown">1 Year Orders</h4>
        {% elif '7' == filter_day %}
            <h4 class="section-title text-center wow fadeInDown">1 week Orders</h4>
        {% elif '31' == filter_day %}
            <h4 class="section-title text-center wow fadeInDown">1 month Orders</h4>
        {% endif %}
        <h2 class="section-title text-center wow fadeInDown">{{ washer.first_name }} {{ washer.last_name }}</h2>
        <h4 class="section-title text-center wow fadeInDown">Orders Number: <b>{{ orders.count }}</b></h4>
        <h4 class="section-title text-center wow fadeInDown">Monthly Salary: <b>{{ washer.salary }} ლ</b></h4>
        <h4 class="section-title text-center wow fadeInDown">Bonus: <b>{{ bonus_money }} ლ</b></h4>


        <div class="team-img">
            <img class=" employee-img" src="{{ washer.image.url }}" alt="">
        </div>

        <table class="table table-dark">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Car Number</th>
                <th scope="col">Booth Number</th>
                <th scope="col">time</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>


            {% for order in orders %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ order.car }}</td>
                    <td>{{ order.booth }}</td>
                    <td>{{ order.end_date }}</td>
                    <td>{{ order.price }}ლ</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


{% endblock %}