{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Car Wash service {% endblock %} </title>


    <!-- core CSS -->
    <link rel="stylesheet" href="{% static 'serviceapp/css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'serviceapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'serviceapp/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'serviceapp/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'serviceapp/css/owl.transitions.css' %}">
    <link rel="stylesheet" href="{% static 'serviceapp/css/prettyPhoto.css' %}">
    <link rel="stylesheet" href="{% static 'serviceapp/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'serviceapp/css/styles.css' %}">

    <link rel="icon" href="{% static 'serviceapp/images/ico/car-wash.png' %}">


</head>

<body id="home">


<!--Header-->
{% include 'partials/_header.html' %}

{% block content %}

{% endblock content %}
<!--Footer-->
{% include 'partials/_footer.html' %}


<script src="{% static 'serviceapp/js/jquery.js' %}"></script>
<script src="{% static 'serviceapp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'serviceapp/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'serviceapp/js/smoothscroll.js' %}"></script>
<script src="{% static 'serviceapp/js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'serviceapp/js/jquery.inview.min.js' %}"></script>
<script src="{% static 'serviceapp/js/wow.min.js' %}"></script>
<script src="{% static 'serviceapp/js/jquery.isotope.min.js' %}"></script>
<script src="{% static 'serviceapp/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'serviceapp/js/custom-scripts.js' %}"></script>


</body>
</html>